  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <title>NHL Comparision</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">
   <style type="text/css">.jumbotron{background-image:url("{{ url_for('static', filename='Images/hockey11.jpg') }}"); background-size:cover; background-repeat:no-repeat; background-position:bottom center;}
      .text-black * {color:black !important;}
    </style>

    <!--     <link rel="stylesheet" type="text/css" href="./styles.css"> -->
  </head>


  <body>
    <div class="container">
      <nav class="navbar navbar-default">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">NHL Comparison Dashboard</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Comparison<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="teamCompare.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Team Comparison</a></li>
              <li><a href="seasonCompare.html"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Season Comparison</a></li>
            </ul>
          </li>
          <li><a href="/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Team Stats</a></li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron text-center text-black">
      <h1>NHL Team Stats Dashboard</h1>
      <h3>How did your team do?</h3>
      <h3>Use the interactive charts below to see the stats!</h3>  
    </div>
    <div class="row margin-top-50">
      <div class="col-md-2">
        <aside class="filters">
          <div class="panel panel-default">
            <div class="panel-heading">Search Filters</div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <label for="teams">Select Team</label>
                  <select class="form-control" id="teams"></select>
                  <br>
                  <label for="seasons">Select Season</label>
                  <select class="form-control" id="seasons"></select>
                </div>
                <button id="filter-btn" type="button" onclick="getTeamStats()" class="btn btn-default">Get Data</button> 
              </form>
            </div>
          </div>
        </aside>
      </div>
      <div class="row">
        <div class="col-md-10">
          <!-- insert team data on page -->
        </div>
      </div>
    </div>

    <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>

  </html>